<!-- Handlebars: Deck Stats -->
<script id="hb_deck_stats" type="text/x-handlebars-template">

    <div class="card card--aside">

        <div class="card-header">

            <nav class="nav nav-tabs nav-justified card-header-tabs" id="deck_stats_tabs" role="tablist">

                <a class="nav-item nav-link active btn--icon-tada"
                   id="nav-deck-stats-tab"
                   data-toggle="tab"
                   href="#nav-deck-stats"
                   role="tab"
                   aria-controls="nav-deck-stats"
                   aria-selected="true">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Stats
                </a>

                <a class="nav-item nav-link btn--icon-tada"
                   id="nav-deck-list-tab"
                   data-toggle="tab"
                   href="#nav-deck-list"
                   role="tab"
                   aria-controls="nav-deck-list"
                   aria-selected="false">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    List
                </a>

                <!--<a class="nav-item nav-link btn&#45;&#45;icon-tada"-->
                   <!--id="nav-deck-share-tab"-->
                   <!--data-toggle="tab"-->
                   <!--href="#nav-deck-share"-->
                   <!--role="tab"-->
                   <!--aria-controls="nav-deck-share"-->
                   <!--aria-selected="false">-->
                    <!--<i class="fa fa-share-alt" aria-hidden="true"></i>-->
                    <!--Share-->
                <!--</a>-->

            </nav>

        </div>
        <div class="card-body">

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade pt-3 pb-3 show active"
                     id="nav-deck-stats"
                     role="tabpanel"
                     aria-labelledby="nav-deck-stats-tab">

                    <div class="row">
                        <div class="col-5">
                            {{#if hp}}
                            <h3 class="card-title">
                                <small>HP</small>{{hp}}
                            </h3>
                            {{/if}}
                        </div>
                        <div class="col-7 text-right">
                            {{#if types}}
                                {{#each types}}{{energyType this}} {{/each}}
                            {{/if}}
                        </div>
                    </div>

                    <div class="chart-container" style="position: relative; width:100%">
                        <canvas id="supertypeChart"></canvas>
                    </div>

                    <button id="print_deck"
                            class="btn btn-primary btn-lg btn-block btn--icon-tada mt-3"
                            data-loading-text="<i class='fa fa-spinner fa-spin'></i> Generating PDF <span id='loading_count'></span>">
                        <i class="fa fa-print" aria-hidden="true"></i> Print Deck
                    </button>

                    <nav class="nav nav-justified mb-3 mt-3" id="stats_sub_tabs" role="tablist">
                        <a class="nav-item nav-link active"
                           id="nav-sets-tab"
                           data-toggle="pill"
                           href="#nav-sets"
                           role="tab"
                           aria-controls="nav-sets"
                           aria-selected="true">Set Details</a>
                        <a class="nav-item nav-link"
                           id="nav-rarity-tab"
                           data-toggle="pill"
                           href="#nav-rarity"
                           role="tab"
                           aria-controls="nav-rarity"
                           aria-selected="false">Rarity</a>
                        <a class="nav-item nav-link"
                           id="nav-subtypes-tab"
                           data-toggle="pill"
                           href="#nav-subtypes"
                           role="tab"
                           aria-controls="nav-subtypes"
                           aria-selected="false">Subtypes</a>
                    </nav>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="nav-sets" role="tabpanel" aria-labelledby="nav-sets-tab">
                            {{#each setCode}}
                            <div class="row mb-2">
                                <div class="col-8">
                                    <img class="icon-set" src="{{setSymbolUrl name}}">
                                    {{setData name "name"}}
                                </div>
                                <div class="col-4 text-right">{{value}}</div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="tab-pane fade" id="nav-rarity" role="tabpanel" aria-labelledby="nav-rarity-tab">
                            {{#each rarity}}
                            <div class="row mb-2">
                                <div class="col-8">{{name}}</div>
                                <div class="col-4 text-right">{{value}}</div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="tab-pane fade" id="nav-subtypes" role="tabpanel" aria-labelledby="nav-subtypes-tab">
                            {{#each subtypes}}
                            <div class="row mb-2">
                                <div class="col-8">{{name}}</div>
                                <div class="col-4 text-right">{{value}}</div>
                            </div>
                            {{/each}}
                        </div>
                    </div>


                    <div class="card card--cream-pixels mb-3 mt-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    {{#if weaknesses}}
                                    <h5>Weaknesses</h5>
                                    {{#each weaknesses}}{{energyType this}} {{/each}}
                                    {{/if}}
                                </div>
                                <div class="col-6">
                                    {{#if resistances}}
                                    <h5>Resistances</h5>
                                    {{#each resistances}}{{energyType this}} {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Artists</h4>
                    <ul class="ul-csv text-secondary">
                        {{#each artists}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>

                </div>

                <div class="tab-pane fade pt-3 pb-3"
                     id="nav-deck-list"
                     role="tabpanel"
                     aria-labelledby="nav-deck-list-tab">

                    <h2>Pokemon – {{supertypes.pokemon}}</h2>
                    <ul>
                        {{#each pctgoList.pokemon}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>

                    <h2>Trainers – {{supertypes.trainer}}</h2>
                    <ul>
                        {{#each pctgoList.trainer}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>

                    <h2>Energy – {{supertypes.energy}}</h2>
                    <ul>
                        {{#each pctgoList.energy}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>

                </div>


                <div class="tab-pane fade pt-3 pb-3"
                     id="nav-deck-share"
                     role="tabpanel"
                     aria-labelledby="nav-deck-share-tab">

                    <h2>Coming Soon!</h2>


                </div>

            </div>

        </div>

    </div>




</script>