

$primary-disabled: lighten($primary-color, 25%);

.btn.btn-primary.disabled,
.btn.btn-primary:disabled {
  color: $primary-disabled;
  opacity: 1;
}

// = Tada Icons
// ---------------------------------

.btn--icon-tada:hover {
  i {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: rubberBand;
  }
}

// = Button Badge
// ---------------------------------

.badge.badge-pill.badge-danger.position-absolute {
  font-size: 65%;
  right: -.3rem;
  top: -.3rem;
}
