// = Local Variables
// ---------------------------------

@import 'variables';

$card-shadow-color: rgba(255, 136, 136, .5);

$card-btn-background: #fff8d1;
$card-btn-border: $card-btn-background;
$card-btn-text: #f0ad4e;

$card-btn-background-hover: #f0ad4e;
$card-btn-border-hover: $card-btn-background;
$card-btn-text-hover: #fff8d1;

$card-count-bg: #efac57;
$card-count-text-shadow: rgba(0, 0, 0, .5);

// = Card Tile & Aside
// ---------------------------------
.card--tile,
.card--aside {
  animation-duration: .5s;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 $card-shadow-color;
  //overflow: hidden;
  position: relative;
  transform: translateY(0);
  transition: .35s cubic-bezier(.4, 0, .2, 1);
}

.card--tile {
  &:hover {
    box-shadow: 0 6px 12px 0 $card-shadow-color;
    transform: translateY(-5px);
  }

  .card__btn-group {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .card__btn-group-btn {
    background: $card-btn-background;
    border-color: $card-btn-border;
    color: $card-btn-text;
    display: table-cell;
    float: none;
    width: 33.3%;

    &:first-child {
      width: 33.4%;
    }

    &:hover {
      background: $card-btn-background-hover;
      border-color: $card-btn-border-hover;
      color: $card-btn-text-hover;
    }

  }

  .card__count {
    background: $card-count-bg;
    box-shadow: 0 2px 2px 0 darken($card-shadow-color, 50%);
    height: 2rem;
    left: -.7rem;
    line-height: 2;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px $card-count-text-shadow;
    top: 3rem;
    transform: rotate(-7deg);
    width: 2rem;
  }

}
