// = Grid Gutter
// ---------------------------------

.gutter-16 {
  margin-left: -8px;
  margin-right: -8px;

  > [class^="col"],
  > [class^=" col"] {
    padding-left: 8px;
    padding-right: 8px;
  }

}
