// = Lazyloader
// ---------------------------------

.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyload {
    background: url('/assets/img/ajax-loader.gif');
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
