// = Local Variables
// ---------------------------------

@import 'variables';
$select2-text: $light-color;
$select2-border: rgba(0, 0, 0, .15);


// = Select 2 Overlay
// ---------------------------------

.select2-container--default {

  .select2-selection--single {

    background-color: $select2-text;
    border: 1px solid $select2-border;
    border-radius: .25rem;
    height: 38px;

    .select2-selection__rendered {
      background-clip: padding-box;
      background-image: none;
      border-radius: .25rem;
      color: $text-muted;
      display: block;
      font-size: 1rem;
      line-height: 1.25;
      padding: .5rem .75rem;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .select2-selection__arrow {
      height: 38px;
      position: absolute;
      right: 1px;
      top: 1px;
      width: 20px;
    }

  }

}

.select2-selection--multiple {
  .select2-search--inline {
    .select2-search__field {
      width: auto !important;
    }
  }
}
