// = Local Variables
// ---------------------------------
@import 'variables';

$search-options-background: #efac57;
$search-options-border: $search-options-background;
$search-options-label: $light-color;

// = Search Options
// ---------------------------------

.search-options {
    background: $search-options-background;
    border: $search-options-border;
    padding: 10px;

    label {
        color: $search-options-label;
        margin-bottom: 0;
    }

}



// = Set Filter <option> layout
// ---------------------------------

.img-set {

    span {
        display: inline-block;
        width: 16px;
    }

    img {
        max-height: 16px;
        max-width: 16px;
        vertical-align: baseline;
    }

}

