// = Variables
// ---------------------------------

$dark-color: #333;
$light-color: #fff;
$shadow-color: #f88;

$text-muted: #495057;

$background-start: #fdeb71;
$background-end: #f8d800;

$primary-color: #0070ff;
