<!-- Handlebars: View Deck -->
<script id="hb_view_deck" type="text/x-handlebars-template">
    <div class="wrapper">
        <div class="container">
            <header id="header_main"></header>
            <h1>Deck</h1>
            <div class="row">
                <div class="col-12 col-sm-8">
                    <main id="deck_cards" class="row gutter-16 mt-3"></main>
                </div>
                <div class="col-12 col-sm-4">
                    <aside id="deck_stats"></aside>
                </div>
            </div>
            <footer id="footer_main"></footer>
        </div>
    </div>
</script>
