<!-- Handlebars: Header Main -->
<script id="hb_header_main" type="text/x-handlebars-template">

    <form id="pika_filters">

        <div class="row gutter-16 mt-3">
            <div class="col-md-auto text-center">

              <a href="/#!index" class="logo">
                <h1 class="logo__text">PikaDeck</h1>
              </a>

            </div>
            <div class="col align-bottom pt-1">

                <div class="input-group">
                    <input name="name" id="poke_search" type="text" class="form-control form-control-lg" placeholder="Search by Card Name">
                    <div class="input-group-append">
                      <button id="search_cards" class="btn btn-primary btn-lg btn--icon-tada" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                      <a class="position-relative btn btn-primary btn-lg border border-light border-right-0 border-top-0 border-bottom-0 btn--icon-tada" data-toggle="collapse" href="#search_options">
                        <i class="fa fa-gear" aria-hidden="true"></i>
                        <span class="position-absolute badge badge-pill badge-danger" id="search_options_count"></span>
                      </a>
                    </div>
                </div>

            </div>
            <div class="col-auto pt-1">

              <div class="btn-group" role="group">
                <button id="view_deck" class="position-relative btn btn-primary btn-lg  border border-light border-left-0 border-top-0 border-bottom-0 btn--icon-tada" type="button" style="z-index: 2">
                    <i class="fa fa-th" aria-hidden="true"></i> Deck
                    <span class="count position-absolute badge badge-pill badge-danger"></span>
                </button>
                <button id="clear_deck" class="btn btn-primary btn-lg btn--icon-tada" type="button">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>

            </div>
        </div>


        <div class="collapse multi-collapse" id="search_options">
            <div class="search-options rounded">

                <div class="form-group mb-2">
                    <label for="poke_set">Set</label>
                    <select name="setCode" id="poke_set" class="form-control" multiple="multiple" style="width: 100%">
                        <option>Loading...</option>
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="poke_type">Type</label>
                    <select name="types" id="poke_type" class="form-control" multiple="multiple" style="width: 100%">
                        <option>Loading...</option>
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="poke_supertype">Supertype</label>
                    <select name="supertype" id="poke_supertype" class="form-control" multiple="multiple" style="width: 100%">
                        <option>Loading...</option>
                    </select>
                </div>

                <div class="form-group mb-0">
                    <label for="poke_subtype">Subtype</label>
                    <select name="subtype" id="poke_subtype" class="form-control" multiple="multiple" style="width: 100%">
                        <option>Loading...</option>
                    </select>
                </div>

            </div>
        </div>

    </form>

</script>